body {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0;
}

.App {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    background-color: rgb(245, 233, 218);
    color: black;
    padding: 15px;
    border-radius: 10px 10px 0 0;
    font-weight: bold;
}

.color-palette {
    display: inline-block;
    padding: 15px;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: rgb(245, 233, 218);
    border-radius: 10px;

}
.btn {
    width: 20px;
    height: 20px;
    margin: 2px;
}

.color-info {
    color: black;
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}